html, body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 20px;
}
button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
}